<a href="https://colab.research.google.com/github/Alipser/Python3/blob/master/copia_de_basicpython.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# PYTHON BASICS

In [ ]:
print("Hello World")
#This is a Comment


"""
This is a multiple line Comment

"""

Matematical Operations

In [ ]:
print( 1 + 1 );    #Adition
print( 1 - 1 );    #Substraction
print( 3 * 1 );    #Multiplication
print( 3 ** 2);    #Exponentiation
print(3**(1/2));   #Filling
print( 4 / 2);     #Division
print( 4.3 // 2);  #Int division
print( 4 % 2 );    #Module

Logical Operations

In [ ]:
#BOOLEANOS:
  # True
  # False

In [ ]:
a = True
b = False

# Equals To Comparation
print (a == b) #True
print (a == a) #False

# Diferent To Comparation
print (a != b ) # True

# Negation

print (not (a == b)) #True
print (not(a)== b)   #True
#print (a == not b) SyntaxError: invalid syntax

# AND Disjunction
print ( 8 > 4 and  a ==False);
print ( a  and b );

# OR Conjunction

print (a or b);


# greater or lesser than

print ( 8 > 4) # 8 greater than 4
print ( 5 < 15) # 5 Lesser than 5

Variables and Data types

In [4]:
var1 = "HOLA MUNDO" ; #String
var2 = 1;              #Numerical (Int)
var3 = 1.3;            #Numerical(Float)
var4 = 1+3j;           #Numerical (Complex)
var5 = True or False;  #Boolean

#Sequence
var6 = list();         #Lists []
var7 = ();             #Tuple ()
var8 = range(5);       #Range from 0 to 5
var9 = dict([          #Dict {}
    ("var1", var1),
    ("var2", var2)
    ])
var10 = set([1,1,2,3]) #Set {1,2,3}

print (var10)

{1, 2, 3}